<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Breachint</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>
<body>
    <main>
        <div id="login-form">
            <h2><mark>BreachInt.</mark> Login</h2>
            <form method="POST" action="{{ url_for('user_login') }}">
                <input type="email" id="email" name="email" required placeholder="Email">
                <input type="password" id="password" name="password" required placeholder="Password">
                <button type="submit">Login</button>
            </form>
            <p>Didn't have an account ? <a href="/user/register"><mark>Register</mark></a></p>          
        </div>
    </main>
</body>
</html>
